/* global.css */
@import 'normalize.css';
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #000000;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  word-break: keep-all;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Bazier Square,
  Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
  Noto Color Emoji;
  letter-spacing: -0.3px;
  color: #222222;
  padding-bottom: 2rem;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


